body{
    margin-top: 50px;
    background-color:white;
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
   
    border-collapse: collapse;
  
    text-align: center;

}
td{
  
    border: 1px solid black;
    border-collapse: collapse;
    
}
tr{

    border: 1px solid black;
  border-collapse: collapse;


}
tr:hover{
 border: solid black 3px;
}