body{
    margin-top: 50px;
    background-color:white;
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border: transparent;
    border-collapse: collapse;
    background-color: darkturquoise;
    text-align: center;

}
td{
    width: 30px;
    border: 1px solid black;
    border-collapse: collapse;
    
}
tr{
    height: 100px;
    border: 1px solid black;
  border-collapse: collapse;


}
#pred{
    border: solid 1px;
}